
.profile_cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0; /* Adjust padding as needed */
}

.profile-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    text-align: center;
    padding: 20px;
}

.head_profile {
    background-color: #007bff;
    color: white;
    padding: 30px 20px;
}

.profile-picture {
    border-radius: 10%;
    width: 300px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border: 3px solid white;
}
.name {
    margin: 10px 0 5px 0;
    font-size: 24px;
    font-weight: 700;
}

.profile-body {
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-link {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-link:hover {
    background-color: #0056b3;
}