body{
    background-color: white;
}


.license-container{
    flex-direction: column;
    align-items: center;
}

.license-img-frame{
    margin: 20px;
    background-color: rgb(186, 230, 238);
    display: flex;
    flex-direction: column;
    border: dotted black;
    width: 400px;
    height: 300px;
}

.license-img-frame img{
    width: 100px;
    height: 100px;
    padding-top: 100px;
    align-self: center;
}

.chooseLicense{
    align-self: flex-start;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.categorically{
    align-self: center;
    display: flex;
    flex-direction: row;
}

select{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

select:focus{
    outline: none;
}

.category-drop-down-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drop-down-arrow{
    width: 30px;
    height: 30px;
    padding-right: 0px;
    padding-left: 30px;
}

.product-img-container{
    width: 400px;
    height: 300px;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(186, 230, 238);
    border: dotted black;
}

.product-img-container img{
    width: 100px;
    height: 100px;
    align-items: center;
    padding-top: 100px;
}

.product-descriptions input{
    align-self: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: ridge;
    display: flex;
    outline: none;
    flex-direction: column;
}

.product-descriptions input::placeholder {
    font-size: medium;
    font-weight: 400;
}

.product-descriptions input:focus{
    border-bottom-style: solid;
    border-bottom-color: rgb(66, 172, 103);
}

.product-descriptions input:focus::placeholder {
    font-weight: 400;
    font-size: medium;
    color: rgb(66, 172, 103);
}

#simple-description3,
#simple-description4,
#simple-description5,
#simple-description6,
#simple-description7{
    display: none;
}

.product-descriptions #add-btn{
    align-self: center;
    align-items: center;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    font-size: larger;
    font-weight: lighter;
    background-color: rgb(6, 238, 88);
    color: black;
    padding: 10px;
    border-style: none;
    border-radius: 25%;
}

#price{
    width: 70px;
    height: 50px;
    font-size: 1em;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
}

#price:focus{
    border-color: rgb(66, 172, 103);
}

#currency{
    font-size: larger;
    font-weight: 400;
}



