body, html {
    margin: 0;
    padding: 0;
   
}
header {
    background-color: rgb(33, 148, 225);
    padding: 10px 20px;
    height: 70px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 15px;
    

    margin-top: 10px;
    font-size: 18px;
    border-radius: 13px;
    padding: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    
}
#current {
    background-color:  #ddd;;
    color: black;
}
#current a {
    color : black;
}
/* kyc input filed =============================================================================== */
.image-upload {
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-upload input[type="file"] {
    display: none;
}

.image-upload label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-upload .add-icon {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#kyc {
    font-size: 30px;
}

/* ================================ */
.image-upload-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}


/* ============================= */
.descriptionInput-field {
    margin: 50px;
    width: 500px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.kyc_personal {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;


}

/* submit=========================================== */
.submit-container {
    margin-top: 20px;
}

.submit-button {
    width: 200px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

.submit-button:active {
    background-color: #3e8e41;
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
}
.select{
   
    margin: 20px;
    height: 50px;
    width: 300px;
  
    padding: 10px;

}
